<div class="mainbody">
    <div class="body">
        <button type="button" class="btn btn-primary" [routerLink]="['..']">Go Back</button>
        <h2 class="heading">Management Team</h2>
        <table>
            <tr>
                <td><img src="assets\Images\Profile.png" alt=""></td>
                <td>
                    <h4>Satyam Singh</h4>
                    <p>Satyam Singh has been working as a developer for TravelEasy since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Manu Singh</h4>
                    <p>Manu Singh has been working as a developer for TravelEasy since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Ankush Dara</h4>
                    <p>Ankush Dara has been working as a developer for TravelEasy since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Dhruv Rajput</h4>
                    <p>Dhruv Rajput has been working as a developer for TravelEasy since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Tharun</h4>
                    <p>Tharun has been working as a developer for TravelEasy since 2022.</p>
                </td>
            </tr>
            <tr>
                <td><img src="assets\Images\Profile.png" alt="Image"></td>
                <td>
                    <h4>Kartik Jain</h4>
                    <p>Kartik Jain has been working as a developer for TravelEasy since 2022.</p>
                </td>
            </tr>
        </table>
    </div>
</div>