<nav class="navbar navbar-expand-md py-4 navbar-light shadow-sm">
    <div class="container">
      <span class="navbar-brand">
        <img src="assets/Images/TravelEasy.png" alt=" " width="180" height="40" class="d-inline-block align-text-top">
      </span>
  
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent3" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
    <div id="navbarSupportedContent3" class="collapse navbar-collapse">
  
        <ul class="navbar-nav me-auto">
          <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">My Bookings</a></li>
        </ul> 
        <ul class="navbar-nav ms-auto"> 
          <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-person-circle"></i> My profile</a></li>
          <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
