<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="main-footer">
  <div class="footer">
    <div class="footer-heading">
      <h2>TravelEasy</h2>
      <ul>
        <li><a [routerLink]="['/aboutus']">About Us</a></li>
        <li><a [routerLink]="['/contactus']">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-heading">
      <h2>Info</h2>
      <ul>
        <li><a [routerLink]="['/tandc']">T & C</a></li>
        <li><a [routerLink]="['/privacypolicy']">Privacy Policy</a></li>
        <li><a [routerLink]="['/faq']">FAQ</a></li>
      </ul>
    </div>

    <div class="footer-heading">
      <h2>Our Partners</h2>
      <ul>
        <li><a href="https://www.peoplestrong.com/">PeopleStrong</a></li>
      </ul>
      
    </div>

    <div class="footer-heading">
      <h2>Customer Care</h2>
      <ul>
        <li><a [routerLink]="['/help']">Help</a></li>
      </ul>
    </div>

    <div class="last-footer">
      <img src="./assets/Images/TravelEasy.png">
      <p>
        TravelEasy is the world's largest online bus ticket booking service trusted by over millions
        happy customers globally. We offer bus ticket booking through its website for all major routes.
      </p>
      <a href="https://www.facebook.com/peoplestrong"> 
        <i class="fab fa-facebook-f"></i> 
      </a>
      <a href="https://www.linkedin.com/company/peoplestrong">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://twitter.com/peoplestrong">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/c/peoplestrong">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</div>
