<div class="mainbody">
    <div class="body">
        <button type="button" class="btn btn-primary" [routerLink]="['..']">Go Back</button>
        <h4 class="heading">Frequently Asked Questions-</h4>

            <ol>
                <li>GENERAL
                    <p>
                        <br><b>What are the advantages of purchasing a bus ticket with TravelEasy?</b>
                            <br>TravelEasy is India's largest bus tickets company and therefore, you will find the largest option of bus seats on the site. Some of the advantages of dealing with us are:
                            <br>-    You can choose your seat
                            <br>-    You can book your bus tickets online, by phone, or in person
                            <br>-    You can choose from over 1500+ bus operators
                            <br>-    You can choose from buses based on boarding points, timing and bus type

                        <br><br><b>Do I need to register to use TravelEasy?</b>
                            <br>No, TravelEasy does not require its customers to go through a registration process

                        <br><br><b>Does booking online cost me more?</b>
                            <br>Not at all! The price of the bus ticket is the same as you would get from the bus operator too.The price of hotel voucher is the same or sometimes discounted depending on the season/time.
                    </p>
                </li>

            </ol>


    </div>
</div>