.mainbody{
    background-color: #24262b;
    padding:5% 0;
    line-height: 1.1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:relative;
}

.heading{
    color: #e6e3e3fa;
}

li{
    color:#ffffffa9;
    margin:1%;
}

.general, .tos {
margin-left: 5%;
margin-right: 5%;
}

.tos .heading{
    text-align: center;
}

table{
 border-collapse: collapse;
 margin-top: 8px;
}
  
td, th {
border: 1px solid #ffffffa9;
text-align: left;
padding: 8px;
}
