<div class="card border-light bg-light">
    <img src="assets/Images/Payment_confirmation.png" class="card-img-top" alt="...">

        <div class="bg-pay p-3">
            <h5 class="card-title">Journey Summary</h5>
            <div class="d-flex justify-content-between mt-2"> <span class="fw-500">PickUp Point</span> <span>PLACEHOLDER</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span class="fw-500">DropOff Point</span><span>PLACEHOLDER</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span class="fw-500">Date</span> <span>PLACEHOLDER</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span class="fw-500">Time</span> <span>PLACEHOLDER</span> </div>
            <hr>
            <div class="d-flex justify-content-between mt-2"> <span class="lh-16 fw-500">Number of Passengers</span> <span>PLACEHOLDER</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span class="lh-16 fw-500">Fare </span><span>PLACEHOLDER</span> </div>
            <hr>
            <div class="d-flex justify-content-between mt-2"> <span class="fw-500">Total Fare</span> <span>PLACEHOLDER</span> </div>
            <div class="d-flex justify-content-between mt-2"> <span class="fw-500">Insurance Responsibility</span> <span>PLACEHOLDER</span> </div>
            <hr>
            <div class="d-flex justify-content-between mt-2"> <span class="fw-500">Total Payable</span> <span class="text-success">PLACEHOLDER</span> </div>
            <div class="d-flex justify-content-between mt-2"><a class="btn btn-primary" href="#" role="button">Cancel</a>
                <a class="btn btn-success" href="#" role="button" data-toggle="modal" data-target="#myModal">Book</a></div>
        </div>
    </div> 
       <br>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="card">
                <div class="text-right cross ms-auto"> <i class="bi bi-x-lg" style="color:brown"></i> </div>
                <div class="card-body text-center"> <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
                    <h6><i class="bi bi-check-circle-fill" style="color: green;"></i> SUCCESSFUL</h6>
                    <p>Your tickets were successfully booked! <br> Click on continue to browse.</p>
                     <button type="button" class="btn btn-danger">CONTINUE</button>
                </div>
            </div>
        </div>
    </div>
      