<div class="mainbody">
    <div class="body">
        <button type="button" class="btn btn-primary" [routerLink]="['..']">Go Back</button>
        <h2 class="heading">About Us</h2>
            <p>
                TravelEasy is India's one of the largest online bus ticketing platform that has
                transformed bus travel in the country by bringing ease and convenience to millions
                of Indians who travel using buses. Founded in 2022, TravelEasy is part of India's 
                leading online travel company. By providing widest choice, superior customer service, 
                lowest prices and unmatched benefits, TravelEasy has served millions of customers. 
                TravelEasy has a global presence with operations across Indonesia, 
                Singapore, Malaysia, Colombia and Peru apart from India.
            </p>
    </div>
</div>