
<div  class="container">
    <div class="row justify-content-center pb-5 pt-3">
      <div class="col-md-5 block mt-3">
        <form  novalidate="" class="ng-pristine ng-invalid ng-touched">
          <div class="row">
            <div  class="form-group col-md-6">
                <label for="name">Leaving From</label>

                <input type="text" id="name" name="name" required>
            
            </div>
            <div class="form-group col-md-4">
                <label for="name1" >Going To</label>

                <input type="text" id="name1" name="name1" required>
            </div>
          </div>
          <div class="row">
            <div  class="form-group col-md-12">
              <label  for="">Departing On</label>
              <input  class="form-control form-control-sm ng-untouched ng-pristine ng-invalid" name="depart_date" ngmodel="" required="" type="date" ng-reflect-required="" ng-reflect-name="depart_date" ng-reflect-model="">
            </div>
            
          </div>
          <h1></h1>
          <input class="favorite styled"
       type="button"
       value="search buses">
        </form>
      </div>
    </div>
  </div>
  